<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <!-- Latest minified Bootstrap & JQuery-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body class="text-center">

<!-- Begin page content -->
<main role="main" class="container">
    <h1>Homespital 화상채팅 스페이스</h1>
    <div id="container">
        <p>
            This part receives a room number (or generates new one), and redirects current user there.
        </p>
        <form th:method="post" th:action="@{/room}" th:object="${id}" id="form">
            <input type="hidden" id="uuid" name="uuid" th:value="${uuid}"/>
            <div class="row justify-content-md-center">
                <div class="input-group col-md-6 mb-3 justify-content-md-center">
                    <div class="mb-3" th:if="${not #lists.isEmpty(rooms)}" th:attr="data-uid=${uuid}">
                        <label for="rooms-list">Select one of the rooms created:</label><br>
                        <h4>
                        <span id="rooms-list" th:each="r : ${rooms}">
                            <a th:href="@{/room/{id}(id=${r.id})}" th:id="'button-link-'+${r.id}">
                                <button type="button" name="action" th:text="${r.id}" th:value="${r.id}"
                                        class="btn badge badge-primary" onclick="addUuidToButtonLink(this);">99
                                </button>
                            </a>
                        </span>
                        </h4>
                    </div>
                    <div class="mb-3">
                        <label for="id">새로운 방을 만드시려면 아래에 원하는 숫자를 입력하시거나,
                            'Random #' 버튼을 눌러 랜덤 숫자 방을 만드실 수 있습니다.</label>
                        <input class="form-control" name="id" id="id" type="number" placeholder="최소: 0, 최대: 99"
                               min="0" max="99" th:value="${id}" required>
                    </div>
                    <div>
                        <a th:href="@{/room/random}">
                            <button class="btn btn-outline-success" type="button">Random #</button>
                        </a>
                        <button name="action" value="create" type="submit" class="btn btn-outline-primary">
                            입력한 번호로 방 만들기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<!--generates unique user identifier stored at 'uuid' input field to pass it to the back-side-->
<script src="/js/main.js"></script>
</body>
</html>
